<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main role="main">
        <!-- .jumbotron -->
        <div class="jumbotron">
            <!-- .container -->
            <div class="container">
                <h1>GitHub Followers Lookup</h1>
                <p>Enter a GitHub username to see their followers</p>
                <!-- SEARCH BAR -->
                <div class="row">
                    <div class="col">
                        <form id="search-form" action="/search" method="POST">
                            <div class="input-group">
                                <input type="query" name="username" id="search-user" class="form-control" placeholder="Try entering defunkt ..." aria-label="Try entering defunkt ..." value="<% if (locals.previousSearchUser) { %><%= previousSearchUser %><%}%>" />
                                <span class="input-group-btn">
                                    <button class="btn btn-custom" type="submit">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END SEARCH BAR -->
            </div>
            <!-- END .container  -->
        </div>
        <!-- END .jumbotron -->

        <!-- Search results -->
        <% var user = user ; %>
        <% if (user) { %>
            <div class="container">
                <!-- #search-user-results -->
                <div id="search-user-results" class="row">
                    <!-- Current user -->
                    <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="card">
                            <img class="card-img-top" src=<%= user.avatar_url %> alt="Card image cap">
                            <div class="card-body card-user">
                                <h4 class="card-text"><%= user.name %></h4>
                                <a href=<%= user.html_url %> target="_blank">
                                    <h5 class="card-title"><i class="fa fa-github" aria-hidden="true"></i> <%= user.login %></h5>
                                </a>
                                <p class="card-text">Followers <span class="badge badge-pill badge-custom"><%= user.followers %></span></p>    
                            </div>
                        </div>
                    </div>
                    <!-- END Current user -->

                    <div class="col-lg-9 col-md-8 col-sm-8 col-12">
                        <!-- Header -->
                        <div class="centered-text title">
                            <h4>List of Followers</h4>                        
                        </div>
                        <!-- END Header -->

                        <!-- Followers -->
                        <ul class="list-group list-group-flush">
                            <div class="container">
                                <div class="row" id="container-followers">
                                    <% for(var followerIndex = 0; followerIndex < followers.length; followerIndex++) { %>
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-6 card-follower">
                                            <a href=<%= followers[followerIndex].html_url %> target="_blank">
                                                <img class="card-img" src=<%= followers[followerIndex].avatar_url %> alt="follower avatar">
                                                <div class="card-body">
                                                        <h6 class="card-title"><i class="fa fa-github" aria-hidden="true"></i> <%= followers[followerIndex].login %></h6>
                                                </div>
                                            </a>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </ul>
                        <!-- END Followers -->
                        
                        <!-- Load More Button -->
                        <% if ( numberOfPages != 1 ) { %>
                            <div class="container btn-container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-6 centered" id="container-load-more" data-page="1" data-total-pages="<%= numberOfPages %>">
                                        <a id="btn-load-more" class="btn btn-custom col" href="" role="button">LOAD MORE</a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <!-- END Load More Button -->
                    </div>

                </div>
                <!-- END #search-user-results -->
            </div>
        <% } %>
        <!-- END search results -->

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>